.box-shadow{
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(68, 64, 64);
}
.name{
    font-size: 50px;
    color: #5817c0;
}
.primary-color{
    color: #c01717;
}
.btn-color{
    background-color: #c01717;
    padding: 8px 30px;
    color: white;
    border-radius: 25px;
}
.btn-color:hover{
    background-color: #5817c0;
    color: white;
    box-shadow: 1px 1px 15px rgb(68, 64, 64);
}
.btn-color2{
    background-color: #5817c0;
    padding: 8px 30px;
    color: white;
    border-radius: 25px;
}
.btn-color2:hover{
    background-color: #c01717;
    color: white;
    box-shadow: 1px 1px 15px rgb(68, 64, 64);
}
.custom-border{
   border: 2px solid #5817c0;
}
.img-size{
    width: 70%;
}
.p-color{
    color: rgb(165, 158, 158);
}
.fab{
    font-size: 30px;
    color: #5817c0;
}
.fab:hover{
    color:  #c01717;
}
.fas{
    border: 1px solid #5817c0;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    background-color: #5817c0;
}

.skill-icon{
    font-size: 100px;
}